# Google AI Studio
# Replace this with your Google AI Studio API Key
GEMINI_API_KEY=

# Database
# SQLite connection URL. Use sqlite:///filename.db for local file database
DATABASE_URL=sqlite:///shopping_assistant.db

# Logging
LOG_LEVEL=INFO

# Environment
# Set to development, testing, or production
APP_ENV=development

# Google Cloud Platform (Optional - only required if GOOGLE_GENAI_USE_VERTEXAI=True)
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=False
LOGS_BUCKET_NAME=
ALLOW_ORIGINS=*
